/*cor urilizada OrangeRed #FF4500 */

/* Font */
#page-container th,
#page-container td {
    font-family: 'Roboto Mono', monospace;
    color: rgb(37, 36, 36);
}


/* PARÂMETROS GERAIS */

h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px
}

/* Navbar */

#navbar .navbar {
  margin-bottom: 20px;
}

/* Imagem navbar */
#navbar img {
    width: 80px;
    height: 70px;
    border-radius: .1rem;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
}

@media (max-width: 1500px) {
    #navbar img {
        width: 60px;
        height: 50px;
    }
}    

/* Configuração do texto da navbar */
#navbar a.navbar-brand {
    font-size: 48px;
    font-weight: 700;
    color: #fd7442;
    border-radius: 1rem;
    text-align: center;
}

@media (max-width: 1500px) {
    #navbar a.navbar-brand {
        font-size: 23px;
        font-weight: 700;
    }
}  


/* CSS DA TELA DE LOGIN */

body {
    background-color: #f8f8f8;
}

#form-container h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    color: #fd7442;
    border-radius: 1rem;
}


/* DEFINiÇÕES PARA O FORM */
#form-container {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    margin: 25px auto;
    padding: 25px;
}


/* LINKS */
#form-container a {
    color: #222;
    transition: .5s;
}

#form-container a:hover {
    color: #FF4500;
}

#form-container form {
    padding-bottom: 0px;
}

/* CAMPOS DE USUÁRIO E SENHA */
#form-container .form-control {
    border: none;
    border-bottom: 1px solid #CCC;
    border-radius: 0;
}

/* CONDIÇÃO PARA NÃO HAVER BORDAS AO PASSAR O MOUSE NOS CAMPOS DE USUÁRIO E SENHA */
#form-container .form-control:focus {
    box-shadow: none;
}

/* DEFINIÇÃO DAS CORES DOS TEXTOS DE USUÁRIO E SENHA */
#form-container .form-floating label {
    color: #CCC;
}

/* DEFINIÇÃO DA COR QUE É EXIBIDA AO PASSAR COM O MOUSE SOBRE OS CAMPOS DE USUÁRIO E SENHA */
#form-container .form-floating > .form-control:focus~label {
    color: #222;
}

/* DEFINIÇÃO DA COR DO BOTÃO ENTRAR */
#form-container input[type="submit"],
#form-container input[type="checkbox"]:checked {
    background-color: #FF4500;
    border-color: #FF4500;
}

/* IMAGEM */
#form-container .row.align-items-center {
    align-content: center;
    height: 100%;
    padding: 75px;
}

/* FIM DO CSS DA TELA DE LOGIN */

/* CSS para todas as páginas com exceção da tela de login */
#lista {
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    padding-bottom: 1rem;
}

#lista thead {
    background-color: #FF4500;
}

#lista thead {
    background-image: var(--bs-gradient);
}

/* TABELA DA ESCALA */
/* Alinhamentos dos elementos da tabela */
#table_escala th,
#table_escala td {
    text-align: center;
}

#cria_escala label {
    justify-content: center;
}

/* CSS para a tabela no celular */
@media screen and (max-width: 500px) {
    .content {
        display: flex;
        margin: auto;
        width: 94%;
    }    
}



/* Página inicial */
header.masthead {
    padding-top: 10rem;
    background: url("../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 43rem;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 1rem;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
}

/* CSS para notebook*/
@media (max-width:1500px) {
    header.masthead {
        height: 32rem;
        min-height: 10rem;

    }
}

header.masthead h1, 
header.masthead .h1 {
    font-size: 2.25rem;
}

@media (min-wisth:1200px) {
    header.masthead,
    header.masthead .h1 {
        font-size: 3.5rem;
    }
}

header.masthead p {
    font-size: 1rem;
}

header.masthead h1, header.masthead .h1 {
    font-size: 3rem;
}

header.masthead h1, header.masthead .h1 {
    font-size: 3.5rem;
}

header img {
    height: 15rem;
    padding: 2rem;
    box-shadow: .5px 10px 15px rgba(97, 96, 96, 0.2);
    border-radius: 20rem;
    background-color: #f8f8f8;
}

@media (min-width:992px) {
    header img {
        height: 20rem;
        padding: 2rem;
        box-shadow: .5px 10px 15px rgba(97, 96, 96, 0.2);
        border-radius: 20rem;
        background-color: #f8f8f8;
    }
}

/* FOOTER */

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#pages {
    padding-bottom: 4rem;
}

#footer {
    padding-top: 2rem;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 8rem;
}
/* CSS para nootebook */

