{% extends 'index.html' %}
{% block conteudo %}
  <div class="container" id="lista">
    <br>
    <h2>Atualizar dados do usuário</h2>
    <hr>
    {% for mensagem in get_flashed_messages() %}
        <div class="alert alert-danger">
            {{mensagem}}
        </div>
    {%- endfor %}
    <form action="{{url_for('atualiza_user', id=user.id)}}" method="POST" class="form-control">

      <!-- Nome -->
      <label>Nome</label>
      <input class="form-control" type="text" name="nome" value="{{user.name}}">
      <br>

      <!-- Usuário -->
      <label>Usuário</label>
      <input class="form-control" type="text" name="usuario" value="{{user.user}}" disabled>
      <br>

      <!-- Senha -->
      <label>Senha</label>
      <input class="form-control" type="password" name="senha" value="{{user.password}}">
      <br>

      {% if current_user.user == 'administrador' %}
          <!-- Campo de escolha de usuário habilitado ou desabilitado -->
          <div class="input-group mb-3">
            <label class="input-group-text" for="IdStatus">Status</label>
            <select class="form-select" id="IdStatus" name="status">
              <option value="1">Habilitado</option>
              <option value="0">Desabilitado</option>
            </select>
          </div>
      {% else %}
          <input class="form-control" type="hidden" name="status" value="1">
      {% endif %}

      <button class="btn btn-outline-primary">Enviar</button>
      <br>
    </form>
    <br>
  </div>
{% endblock conteudo %}