
{% extends 'index.html' %}
{% block conteudo %}
    <div class="container" id="lista">
      <div class="content">
        <br>
        <h2>Escala de {{mes}}</h2>
        <hr>
        <div id="table_escala">
                
        <table class="table table-bordered table">
          <thead>
            <tr style="text-align: right;">
              <th>Turno</th>
              <th>Horário</th>
              <th>Domingo</th>
              <th>Segunda</th>
              <th>Terca</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>
              <th>Sabado</th>
              <th>Edição</th>
            </tr>
          </thead>
          <tbody>
            {% for escala in esc_1.items %}
            <tr>
              <td>{{escala.turno_db}}</td>
              <td>{{escala.horario_db}}</td>
              <td>{{escala.dom_db}}</td>
              <td>{{escala.seg_db}}</td>
              <td>{{escala.ter_db}}</td>
              <td>{{escala.qua_db}}</td>
              <td>{{escala.qui_db}}</td>
              <td>{{escala.sex_db}}</td>
              <td>{{escala.sab_db}}</td>
              <td>
                <a href="{{escala.id}}/atualiza_escala" class="btn btn-outline-primary btn-xs">Editar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>

        <table class="table table-bordered table">
          <thead>
            <tr style="text-align: right;">
              <th>Turno</th>
              <th>Horário</th>
              <th>Domingo</th>
              <th>Segunda</th>
              <th>Terca</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>
              <th>Sabado</th>
              <th>Edição</th>
            </tr>
          </thead>
          <tbody>
            {% for escala in esc_2.items %}
            <tr>
              <td>{{escala.turno_db}}</td>
              <td>{{escala.horario_db}}</td>
              <td>{{escala.dom_db}}</td>
              <td>{{escala.seg_db}}</td>
              <td>{{escala.ter_db}}</td>
              <td>{{escala.qua_db}}</td>
              <td>{{escala.qui_db}}</td>
              <td>{{escala.sex_db}}</td>
              <td>{{escala.sab_db}}</td>
              <td>
                <a href="{{escala.id}}/atualiza_escala" class="btn btn-outline-primary btn-xs">Editar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>

        <table class="table table-bordered table">
          <thead>
            <tr style="text-align: right;">
              <th>Turno</th>
              <th>Horário</th>
              <th>Domingo</th>
              <th>Segunda</th>
              <th>Terca</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>
              <th>Sabado</th>
              <th>Edição</th>
            </tr>
          </thead>
          <tbody>
            {% for escala in esc_3.items %}
            <tr>
              <td>{{escala.turno_db}}</td>
              <td>{{escala.horario_db}}</td>
              <td>{{escala.dom_db}}</td>
              <td>{{escala.seg_db}}</td>
              <td>{{escala.ter_db}}</td>
              <td>{{escala.qua_db}}</td>
              <td>{{escala.qui_db}}</td>
              <td>{{escala.sex_db}}</td>
              <td>{{escala.sab_db}}</td>
              <td>
                <a href="{{escala.id}}/atualiza_escala" class="btn btn-outline-primary btn-xs">Editar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>

        <table class="table table-bordered table">
          <thead>
            <tr style="text-align: right;">
              <th>Turno</th>
              <th>Horário</th>
              <th>Domingo</th>
              <th>Segunda</th>
              <th>Terca</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>
              <th>Sabado</th>
              <th>Edição</th>
            </tr>
          </thead>
          <tbody>
            {% for escala in esc_4.items %}
            <tr>
              <td>{{escala.turno_db}}</td>
              <td>{{escala.horario_db}}</td>
              <td>{{escala.dom_db}}</td>
              <td>{{escala.seg_db}}</td>
              <td>{{escala.ter_db}}</td>
              <td>{{escala.qua_db}}</td>
              <td>{{escala.qui_db}}</td>
              <td>{{escala.sex_db}}</td>
              <td>{{escala.sab_db}}</td>
              <td>
                <a href="{{escala.id}}/atualiza_escala" class="btn btn-outline-primary btn-xs">Editar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>

        <table class="table table-bordered table">
          <thead>
            <tr style="text-align: right;">
              <th>Turno</th>
              <th>Horário</th>
              <th>Domingo</th>
              <th>Segunda</th>
              <th>Terca</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>
              <th>Sabado</th>
              <th>Edição</th>
            </tr>
          </thead>
          <tbody>
            {% for escala in esc_5.items %}
            <tr>
              <td>{{escala.turno_db}}</td>
              <td>{{escala.horario_db}}</td>
              <td>{{escala.dom_db}}</td>
              <td>{{escala.seg_db}}</td>
              <td>{{escala.ter_db}}</td>
              <td>{{escala.qua_db}}</td>
              <td>{{escala.qui_db}}</td>
              <td>{{escala.sex_db}}</td>
              <td>{{escala.sab_db}}</td>
              <td>
                <a href="{{escala.id}}/atualiza_escala" class="btn btn-outline-primary btn-xs">Editar</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <br>

        {% if semanas == 6 %}
            <table class="table table-bordered table">
              <thead>
                <tr style="text-align: right;">
                  <th>Turno</th>
                  <th>Horário</th>
                  <th>Domingo</th>
                  <th>Segunda</th>
                  <th>Terca</th>
                  <th>Quarta</th>
                  <th>Quinta</th>
                  <th>Sexta</th>
                  <th>Sabado</th>
                  <th>Edição</th>
                </tr>
              </thead>
              <tbody>
                {% for escala in esc_6.items %}
                    <tr>
                      <td>{{escala.turno_db}}</td>
                      <td>{{escala.horario_db}}</td>
                      <td>{{escala.dom_db}}</td>
                      <td>{{escala.seg_db}}</td>
                      <td>{{escala.ter_db}}</td>
                      <td>{{escala.qua_db}}</td>
                      <td>{{escala.qui_db}}</td>
                      <td>{{escala.sex_db}}</td>
                      <td>{{escala.sab_db}}</td>
                      <td>
                        <a href="{{escala.id}}/atualiza_escala" class="btn btn-outline-primary btn-xs">Editar</a>
                      </td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
            <br>
        {% endif%}

        </div>
        <a href="" download></a>
        <a class="btn btn-outline-secondary hidden" href="{{url_for('static', filename='arquivos/tabela.csv')}}" target="iframe_download">Download</a>
      
      </div>
    </div>
{% endblock conteudo %}
