{% extends 'index.html' %}
{% block conteudo %}

  <div class="container" id="lista">
    <br>
    <h2>Adicionar funcionário</h2>
    <hr>
    {% for mensagem in get_flashed_messages() %}
      <div class="alert alert-danger">
        {{mensagem}}
      </div>
    {% endfor %}

    <!-- Formulário para inclusão do nome do usuário -->
    <form action="{{url_for('cria_funcionario')}}" method="POST" class="form-control">
      
      <label>Nome</label>
      <input class="form-control" type="text" name="nome" placeholder="Nome do funcionario">
      <br>

      <!-- Valores para a função 'ativo' -->
      <input class="form-control" type="hidden" name="status" value="1">
      <button class="btn btn-outline-secondary">Adicionar</button>
      <br>
      
    </form>
    <br>
  </div>
{% endblock conteudo %}