{% extends 'index.html' %}
{% block conteudo %}

    {% if current_user.is_authenticated %}
        {% if current_user.user == 'administrador' %}

		  <div class="container" id="lista">
			<br>
			<h2>Usuários do sistema</h2>
			<hr>
			<a href="{{url_for('cria_user')}}" class="btn btn-outline-secondary">Adicionar usuário</a>
			<br><br>
			<table class="table table-bordered table">
				<thead class="table">
					<tr>
					  <th scope="col">Id</th>
					  <th scope="col">Nome</th>
					  <th scope="col">Usuário</th>
					  <th scope="col">Status</th>
					  <th scope="col">Ações</th>
					</tr>
				</thead>
				<tbody>
					{% for user in users.items %}
						<tr>
							<td>{{user.id}}</td>
							<td>{{user.name}}</td>
							<td>{{user.user}}</td>

							{% if user.status == 0 %}
								<td>Desabilitado</td>
							{% elif user.status == 1 %}
								<td>Habilitado</td>
							{% endif %}

							<td>
								<a href="{{user.id}}/atualiza_user" class="btn btn-outline-primary btn-xs">Editar</a>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			  </table>
			<br>
		  </div>

        {% else %}

		  <div class="container" id="lista">
			<br>
			<h2>Dados do usuário</h2>
			<hr>
			<br><br>
			<table class="table table-bordered table">
				<thead class="table">
					<tr>
					  <th scope="col">Id</th>
					  <th scope="col">Nome</th>
					  <th scope="col">Usuário</th>
					  <th scope="col">Ações</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>{{current_user.id}}</td>
						<td>{{current_user.name}}</td>
						<td>{{current_user.user}}</td>
						<td>
							<a href="{{current_user.id}}/atualiza_user" class="btn btn-outline-primary btn-xs">Editar</a>
						</td>
					</tr>
				</tbody>
			  </table>
			<br>
		  </div>

        {% endif %}
    {% endif %}
{% endblock conteudo %}